<style>
    placemap-question h3:hover{
        cursor:pointer;
        text-decoration: underline;
    }
</style>

<div layout="column" >


    <md-button ng-show="!showQuestionCreateCard" flex class="md-raised md-primary" ng-click="toggleCreateQuestionCard()">Create Question</md-button>
    <md-button ng-show="showQuestionCreateCard" flex class="md-raised md-warn" ng-click="toggleCreateQuestionCard()">Cancel Create Question</md-button>


    <placemap-question-edit layout-fill flex ng-if="showQuestionCreateCard" question="newQuestion"></placemap-question-edit>


    <placemap-question-edit layout-fill flex ng-if="editQuestion !== null"  question="editQuestion"></placemap-question-edit>


    <div   layout-fill layout="row" layout-wrap>

        <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->




        <placemap-question flex="50"  ng-repeat="question in questions" question="question"></placemap-question>

    </div>
</div>
