<div layout="row" layout-padding>
    <div flex-gt-md="40" flex layout="column" layout-padding>

        <div  layout-fill layout="row" md-padding layout-align="space-around start">

                <md-select flex placeholder="Select a question set" ng-model="vm.selectedQS">
                    <md-option ng-repeat="qs in vm.questionsets" ng-value="qs">{{qs.name}}</md-option>

                </md-select>

            <p>Or</p>
            <form flex layout="row" layout-align="space-around center" role="form" name="qsCreateForm" ng-submit="createSet(qsCreateForm)">
                <md-input-container flex style="padding-bottom:0px">
                    <label>New Question Set</label>
                    <input ng-model="vm.newQS.name" required>
                </md-input-container>

                <md-button flex class="md-raised md-primary" aria-label="qsCreateForm" type="submit">Create Set</md-button>

            </form>


        </div>

        <!--<div >-->

            <md-list >

                <md-list-item class="md-3-line" ng-repeat="question in vm.selectedQS.questions" >
                    <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
                    <div class="md-list-item-text">
                        <h3>  {{question.name}}</h3>
                        <!--<h4>{{ item.what }}</h4>-->
                        <!--<p>{{ item.notes }}</p>-->
                    </div>
                </md-list-item>
            </md-list>
        <md-button ng-show="vm.selectedQS !== null" flex class="md-raised md-primary" ng-click="vm.saveQS()">Save</md-button>


    </div>
    <!--<div flex="10" style="height:800px" layout-fill layout="column" layout-align="space-around center">-->

        <!--<div></div>-->
        <!--<div layout="column">-->
            <!--<div><&#45;&#45;</div>-->
            <!--<div>&ndash;&gt;</div>-->

        <!--</div>-->
        <!--<div></div>-->

    <!--</div>-->


    <div flex layout="column" layout-align="start start">
        <!--<div  layout-fill layout="row" md-padding layout-align="space-around start">-->

        <placemap-question-list layout-fill></placemap-question-list>

        <!-- -->
        <!--<md-list>-->



            <!--<md-item  ng-repeat="question in vm.questions" layout-fill>-->
                <!--<md-item-content>-->
                    <!--<md-icon md-svg-src="/src/assets/icons/ic_add_circle_24px.svg"></md-icon>-->
                    <!--<div class="md-list-item-text">-->
                        <!--<h3>  {{question.name}}</h3>-->
                        <!--&lt;!&ndash;<h4>{{ item.what }}</h4>&ndash;&gt;-->
                        <!--&lt;!&ndash;<p>{{ item.notes }}</p>&ndash;&gt;-->
                    <!--</div>-->
                <!--</md-item-content>-->
            <!--</md-item>-->

        <!--</md-list>-->
    </div><!--end right-->

</div>